/**
 * A
 * =
 *
 * Common anchor styles
 */


// Imports
@import "../vendor/bourbon/bourbon";
@import "../settings/global-vars";
@import "../settings/global-mixins";
@import "../settings/typography-vars";
@import "../settings/typography-mixins";


.a {
    color: inherit;
    border-color: $color-a-washed;
    border-style: solid;
    box-shadow: inset 0 -0.18em 0 $color-a-washed;
    @include transition-property( background-color );
    @include transition-duration( 0.066s );
    @include transition-timing-function( ease-in-out );

    &:hover {
        background-color: $color-a-washed;
    }
}
