/**
 * Main
 * ====
 *
 * Main view component
 * Includes flyout side view
 */


// Imports
@import "../vendor/bourbon/bourbon";
@import "../vendor/susy/susy";
@import "../settings/global-vars";
@import "../settings/global-mixins";
@import "../settings/typography-vars";
@import "../settings/typography-mixins";


.main {
    @include container;
}

.main__body {
    padding-top: rem( $v-gutter * 3 );
    padding-bottom: rem( $v-gutter * 3 );
    @include span( 8 );
}

.main__side {
    padding-top: rem( $v-gutter * 5 );
    padding-bottom: rem( $v-gutter * 5 );

    @include media( '>=large' ) {
        @include span( 3 );
        @include push( 1 );
    }

    @include media( '<large' ) {
        @include span( 4 );
    }
}
