/**
 * Word
 * ====
 *
 * Word component
 */


// Imports
@import "../vendor/bourbon/bourbon";
@import "../vendor/susy/susy";
@import "../settings/global-vars";
@import "../settings/global-mixins";
@import "../settings/typography-vars";
@import "../settings/typography-mixins";


.word {
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin-right: 0.4em;
    @include beta;
    word-break: nowrap;
    cursor: pointer;

    &:before {
        @include pseudo-element;
        z-index: -1;
        top: 0;
        right: -0.25em;
        bottom: 0;
        left: -0.25em;
        opacity: 0;
        background-color: $color-b;
        pointer-events: none;
    }

    &:hover {

        &:before {
            opacity: 0.35;
        }
    }

    &:active {

        &:before {
            opacity: 1;
        }
    }

    &.is-active {

        &:before,
        &:hover:before {
            opacity: 0.7;
        }
    }
}

.word--positive {
    color: $color-positive;
}

.word--negative {
    color: $color-negative;
}

.word--1 {
    font-weight: 900;
}

.word--2 {
    font-weight: 700;
}

.word--3 {
    font-weight: 500;
}

.word--4 {
    font-weight: 400;
}

.word--5 {
    font-weight: 300;
}

.word--6 {
    font-weight: 100;
}
