<div class="wrapper">
    <div class="main">

        <div class="main__body">

            <header class="header">
                <h1>Topics</h1>
            </header>

            <div class="word-cloud">
                <span class="word word--1 word--positive">Berlin</span>
                <span class="word word--2 word--negative">Panorama bar music</span>
                <span class="word word--3">Code</span>
                <span class="word word--4">Germany</span>
                <span class="word word--5">Hammered</span>
                <span class="word word--6">Terrace Sundae</span>
                <span class="word word--2 word--positive">Panorama bar music</span>
                <span class="word word--3">Code</span>
                <span class="word word--4">Germany</span>
                <span class="word word--5 word--negative">Hammered</span>
                <span class="word word--6">Terrace Sundae</span>
                <span class="word word--1">Berlin</span>
                <span class="word word--4 word--negative">Germany</span>
                <span class="word word--5">Hammered</span>
                <span class="word word--6">Terrace Sundae</span>
                <span class="word word--1 word--positive">Berlin</span>
                <span class="word word--2 word--negative">Panorama bar music</span>
                <span class="word word--3">Code</span>
                <span class="word word--4">Germany</span>
                <span class="word word--5">Hammered</span>
                <span class="word word--6">Terrace Sundae</span>
                <span class="word word--2 word--positive">Panorama bar music</span>
                <span class="word word--3">Code</span>
                <span class="word word--4">Germany</span>
                <span class="word word--5 word--negative">Hammered</span>
                <span class="word word--6">Terrace Sundae</span>
                <span class="word word--1">Berlin</span>
                <span class="word word--4 word--negative">Germany</span>
                <span class="word word--5">Hammered</span>
                <span class="word word--6">Terrace Sundae</span>
                <span class="word word--1 word--positive">Berlin</span>
                <span class="word word--2 word--negative">Panorama bar music</span>
                <span class="word word--3">Code</span>
                <span class="word word--4">Germany</span>
                <span class="word word--5">Hammered</span>
                <span class="word word--6">Terrace Sundae</span>
                <span class="word word--2 word--positive">Panorama bar music</span>
                <span class="word word--3">Code</span>
                <span class="word word--4">Germany</span>
                <span class="word word--5 word--negative">Hammered</span>
                <span class="word word--6">Terrace Sundae</span>
                <span class="word word--1">Berlin</span>
                <span class="word word--4 word--negative">Germany</span>
                <span class="word word--5">Hammered</span>
                <span class="word word--6">Terrace Sundae</span>
            </div>

        </div>

        <div class="main__side">

            <section class="detail">

                <header class="section-header">
                    <h1 class="section-header__label">Hammered</h1>
                    <div class="section-header__badge">
                        <div class="sentiment-score">65</div>
                    </div>
                </header>

                <section class="stat-list">
                    <div class="stat-list__item">
                        <div class="sentiment sentiment--positive">
                            <span class="sentiment__icon"></span>
                            <span class="sentiment__value">24</span>
                        </div>
                    </div>
                    <div class="stat-list__item">
                        <div class="sentiment sentiment--neutral">
                            <span class="sentiment__icon"></span>
                            <span class="sentiment__value">40</span>
                        </div>
                    </div>
                    <div class="stat-list__item">
                        <div class="sentiment sentiment--negative">
                            <span class="sentiment__icon"></span>
                            <span class="sentiment__value">7</span>
                        </div>
                    </div>
                </section>

                <div class="day-list">
                    <div class="day-list__item">
                        <div class="day-list__item__label">Mon</div>
                        <div class="day-list__item__value">
                            <div class="bar">
                                <div class="bar__value" style="width: 20%;">
                                    <div class="bar__label">20</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="day-list__item">
                        <div class="day-list__item__label">Tue</div>
                        <div class="day-list__item__value">
                            <div class="bar">
                                <div class="bar__value" style="width: 40%;">
                                    <div class="bar__label">40</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="day-list__item">
                        <div class="day-list__item__label">Wed</div>
                        <div class="day-list__item__value">
                            <div class="bar">
                                <div class="bar__value" style="width: 10%;">
                                    <div class="bar__label">10</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="day-list__item">
                        <div class="day-list__item__label">Thu</div>
                        <div class="day-list__item__value">
                            <div class="bar">
                                <div class="bar__value" style="width: 15%;">
                                    <div class="bar__label">15</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="day-list__item">
                        <div class="day-list__item__label">Fri</div>
                        <div class="day-list__item__value">
                            <div class="bar">
                                <div class="bar__value" style="width: 20%;">
                                    <div class="bar__label">20</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="day-list__item">
                        <div class="day-list__item__label">Sat</div>
                        <div class="day-list__item__value">
                            <div class="bar">
                                <div class="bar__value" style="width: 80%;">
                                    <div class="bar__label">80</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="day-list__item">
                        <div class="day-list__item__label">Sun</div>
                        <div class="day-list__item__value">
                            <div class="bar">
                                <div class="bar__value" style="width: 100%;">
                                    <div class="bar__label">100</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>

        </div>

    </div>
</div>
